#content {
	margin: 0 auto;
	width: 640px;
	overflow: hidden;
}

#content canvas {
	float:left;
}

#content canvas#playfield {
	background: #ddd;
/*	width: 160px; */
/*	height: 352px; */
}
#content canvas#leftField {
	background: #eee;
}
#content canvas#rightField {
	background: #ccc;
}